*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    /* background: #E4E9ED; */
    /* z-index: -0; */
}

.player{
    background: #181f22;
    border-radius: 30px;
    max-width: 380px;
    width: 100%;
    padding: 25px;
    /* height: 600px; */
}
.title{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
}

.cover{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.cover_img{
    width: 100%;
    border-radius: 50px;
    
}

.song{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
}

.progress_container{
    background: #e4e9ed;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    margin-top: 63px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.progress{
    background: #2b3c5b;
    border-radius: 5px;
    height: 6px;
    /* width: 150px; */
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 184px;
    width: 100%;
    margin: 10px;
    margin-top: 45px;
    
}

.btn{
    cursor: pointer;
}
#video-background{ 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* body{
    
    height: 100vh;
    margin: 0;
    padding: 0;
} */


.background{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}







